/* $4.5.3 - Patterns - Numbers - IconBadge */
.badge-icon {
  margin-right: var(--space-s);
  position: relative;

  .badge {
    border-radius: var(--border-radius-rounded);
    font-size: var(--font-size-xs);
    height: 18px;
    left: 35%;
    min-width: 18px;
    padding: var(--space-none) var(--space-xs);
    position: absolute;
    top: 0;
    transform: translateY(-40%);
    white-space: nowrap;
  }

  .icon {
    color: var(--color-neutral-7);
  }
}